<div class="ui text container">
  <div class="ui huge message">
    <div *ngIf="currentTodo; else nothing">
      <h2>Chi tiết sách</h2>
      <p>Tên sách: {{currentTodo.title}}</p>
      <p>Tác giả: {{currentTodo.author}}</p>
      <p>Mô tả: </p>
      <p>{{currentTodo.description}}</p>
    </div>
  </div>

  <button class="ui button right floated" type="button" (click)="backToIndex()">Thoát</button>
  <button class="ui primary button right floated" type="button" (click)="onDelete()">Xóa sách</button>

  <ng-template #nothing>
    <p>Không có dữ liệu</p>
  </ng-template>
</div>
