<form class="ui form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <h2>Thêm sách mới</h2>
    <label>Tên</label>
    <input type="text" formControlName="title">
    <div class="ui pointing red basic label" *ngIf="submitted && rfc.title.errors">
      <div *ngIf="rfc.title.errors.required">Không được để trống tên sách</div>
    </div>
  </div>
  <div class="field">
    <label>Tác giả</label>
    <input type="text" formControlName="author">
    <div class="ui pointing red basic label" *ngIf="submitted && rfc.author.errors">
      <div *ngIf="rfc.author.errors.required">Không được để trống tác giả</div>
    </div>
  </div>
  <div class="field">
    <label>Mô tả</label>
    <textarea type="text" formControlName="description"></textarea>
  </div>
  <button class="ui button right floated" type="reset" (click)="backToIndex()">Thoát</button>
  <button class="ui primary button right floated" type="submit">Cập nhật</button>
</form>
